
{% extends "layout_app_page.html" %}

{% block pageTitle %}
  Design system - Land Registry services
{% endblock %}


{% block appnav %}
	{% include ".././_partials/_appnav.njk" %}
{% endblock %}

{% block appsidebar %}
	{% include ".././_partials/_appsidebar.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Land Registry services
      <span class="govuk-caption-m"><strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong> ideas for an HMLR design system</span>
    </h1>

    <h2 class="govuk-heading-m">Get started</h2>
 		<p><a href="">Browse the manual with only the guidance for HMLR professional services</a> (hide all gov.uk and casework services content).  You may toggle this on and off on any page in this manual.</p>

		<h2 class="govuk-heading-m">Overview</h2>
    <p>This manual will contain examples to design, code and write for HM Land Registry professional user and public services.  i.e. services available on the Internet, not hosted on a gov.uk domain.</p>

  	<p>The starting point for our services is gov.uk patterns, components and writing guides, as they are proven patterns, established by thousands to millions of individual users in prototyping and production services.</p>

    <p>GOV.UK patterns and components can be customised to make them work in the context of our services or our look and feel. Discuss adapting gov.uk patterns with the design community of practice - for help using them, and to help us develop them further. <a href="">find out how to discuss this with the design community</a></p>

    <p>You may also use non gov.uk patterns as a starting point to experiment if they would work for HMLR professional users.  Discuss their use with the design community of practice - for help using them, and to help us develop them further. <a href="">find out how to discuss this with the design community</a></p>

    <h2 class="govuk-heading-m">GOV.UK design links</h2>
    <p class="govuk-body-l"></p>
    <ul class="govuk-list govuk-list--bullet">
    	<li><a href="https://design-system.service.gov.uk">GOVUK design system</a></li>
    	<li><a href="https://www.gov.uk/service-manual">GOVUK Service Manual</a></li>
    	<li><a href="https://www.gov.uk/guidance/content-design">GOVUK Content design</a></li>
    </ul>
    
    

  </div>
</div>

{% endblock %}
