
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Three DJP journey
    </h1>

    <p class="govuk-body-l">A basic 3 DJP journey - using the flat html pages from preview, with session data and routing code to loop round 3 DJP applications</p>

    <h2 class="govuk-heading-l">Try it</h2>
    <p><a href="start-3-djp-journey.html">do three DJP's</a></p>

  </div>
</div>

{% endblock %}
