<div class="app-pane__subnav">
  <nav class="app-subnav">
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/styles/colour/">Colour</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/styles/icons/">Icons</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/styles/layout/">Layout</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/styles/page-template/">Page template</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/styles/spacing/">Spacing</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/styles/typography/">Typography</a>
      </li>
    </ul>
  </nav>
</div>