<nav class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list app-width-container">
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/get-started/" data-topnav="Get started">Get started</a>
    </li>
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/styles/" data-topnav="Styles">Styles</a>
    </li>
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/components/" data-topnav="Components">Components</a>
    </li>
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/patterns/" data-topnav="Patterns">Patterns</a>
    </li>
    
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/content/" data-topnav="Content">Content</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/data/" data-topnav="Data">Data</a>
    </li>

    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/accessibility/" data-topnav="Accessibility">Accessibility</a>
    </li>

    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link" href="/users/" data-topnav="Users">Users</a>
    </li>
    
  </ul>
</nav>