
{% extends "layout_app_page.html" %}

{% block pageTitle %}
  Design system - Accessibility
{% endblock %}


{% block appnav %}
	{% include "./_partials/_appnav.njk" %}
{% endblock %}

{% block appsidebar %}
	{% include "./_partials/_appsidebar.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Accessibility
      <span class="govuk-caption-m"><strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong> ideas for an HMLR design system</span>
    </h1>

    <p class="govuk-body-l">How to make digital services that work for everyone.</p>

		<p>Your service must be accessible to everyone who needs it, the public, professionals and staff. If it is not, you may be breaking the law.</p>

		<p>HM Land Registry lawyers do not believe that when creating new or revising existing services that we can claim that complying with accessibility regualtions would cause us a disproportionate burden - so all new and revised services should meet them.  <a href="#">How to find out more about our legal position</a></p>

		<p>Everyone who works on digital services has a role to play in making them accessible and inclusive.</p>

		<p>The patterns, components, styles and content in this manual have been tested for accessibility and are WCAG 2.1 compliant, unless stated otherwise.  However, assembling the parts into a service does not make it accessible.</p>

		<p>As well as the guides here, <a href="#">the accessibility community of interest</a> (which includes members from many communites of practice, including user research, product, design, test, front end development) can help you with creating accessible services and testing them</p>

  </div>
</div>

{% endblock %}
