
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Project history - weekly notes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Project history
    </h1>   

    <p class="govuk-lead">This is about what I/we've been up to with the design system this week. This is a lightweight form of communication about the project - what's been done, been thought about, learnt.</p>
    <p>What's new and what's changed, for people wanting to design services, is in the <a href="/advice">advice</a> and <a href="/history">history</a> pages.</p> 

    <h2 class="govuk-heading-l">Weeknotes</h2>

    <h3 class="govuk-heading-m" id="weeknotes-30-oct-2020">30 October 2020</h3>

    <h4 class="govuk-heading-s">Handover / assessment to go into private beta</h4>

    <p><a href="https://web.microsoftstream.com/video/5c812d75-320c-429e-9f78-f1c3efab8432">Design system overview - what is is, why, what next - chat with Joe (video, no captions, 54 mins, Microsoft Streams staff only access)</a>, to hand things over to him.</p>

    <p>Just before the meet i thought - what about recording it.  Its no overhead to record it, and in some ways brings more focus.</p>

    <p>If recorded - work in the open - it might have the following benefits:
    	<ul class="govuk-list govuk-list--bullet">
    		<li>it can be watched by other designers (or non) to know whats going on (at their convenience/saves me repeating)</li>
    		<li>Joe can watch it if he missed something</li>
    		<li>its part of governance / reminder of how we got here</li>
    		<li>it can be used to create clips from - future usefulness</li>
    		<li>watching it back myself is a form of self retro to improve explaining the thing (and myself)</li>
    	</ul>
    </p>

    <p>Set up a public (inside the organisation) streams group and channel for it, and the practice.  Shared that Design slack.  Andy Carr watched it straight afterwards - so an unexpected bonus.  He had a great suggestion about adoption of agreed patterns in existing products/teams - every product upgrade/iteration has to include one new design system pattern.  I like this - something that feels agreeable/adoptable inside the org, as we need a simple mechanism agreed by everyone to keep on top of design debt/improve products incrementally.  Yay working in the open &#129303; </p>

    <p>Focused the hour as an overview and how it worked - on him understanding enough at a high level.  No time to show the inner workings, details, or go full assessment mode.</p>

    <p>Wrote an <a href="https://docs.google.com/document/d/1d-HRRsvEa2velYCXHLriGDnx7aPQpEOSEc47jPgP5V8/edit#">overview of the design system - the private beta (Google doc, access permissions apply)</a> which includes:
    	<ul class="govuk-list govuk-list--bullet">
    		<li>what the private beta is for</li>
    		<li>what 'success' is, how to monitor and measure that</li>
    		<li>what all the parts are and how they work</li>
    	</ul>
    </p>

    <p>Writing that was useful as it made me think better about why private beta, how long, and how to measure if its accomplishing what we'd want - is it successful?  So we can get to then end of another phase quickly, review, and tack/continue/bin it.</p>

    <p>Some of this stuff I'd only been partly thinking about, or was in the back of my mind - not conscious and shared.</p>

    <h4 class="govuk-heading-s">Naming</h4>

    <p>Alpha was in the URL, and the github repo title.  Better to rename it (at least the public URL) before its shipped.  So I had to pick a better name, for a private beta.</p>


    <p>URL/name should long term be design-system.[ourdomain].gov.uk (on our domain).  but it's private beta.</p>
    
    <p>This isn't a thing that needs a verb name - what's the verb service here? Its not a service.  Its a product. Product equals descriptive noun: design system.  But thats not available on Heroku, so needs to be unique.</p>

    <p>Don't add the org name to the front - thats org top down/centric thinking, not user centred.  And not good content.  for example - As me (an example user) - I don't want to see hmlr- in the browser tab hiding the useful part of the name, I need to glance at the browser tabs.  Or when typing the url in I don't want to have to type hmlr first - i think about the thing i need, not the org first.</p>
    <p>Same in the repo name, etc.  Front load the name of the thing.  Add org name to the end, to make it unique on Heroku.</p>

    <h4 class="govuk-heading-s">Accessibility</h4>

    <p>Don't want to publish a site without an <a href="/accessibility-statement">accessibility statement</a>.  And I don't see making things accessible as a barrier, overhead, or to be a can kicked down the road, so lets do it.</p>

    <p>Great, Wave testing found a few things - addressed those.  Made me make a better site for everyone - links are more descriptive, fixed a missing heading.</p>

    <p>It is great to write the statement - again, it's being: open, thinking in the round, practicing what i preach, doing and learning, trying to maximise collaboration toward outcomes.</p>

    <p>Handy that elsewhere, I'd made <a href="https://accessibility-statement-templt.herokuapp.com/">an html template version of the HM Land Registry template accessibility statement</a>, to copy and paste in here (or any gov prototype). Tweak the extends - to pick up this sites style, and add a footer.  No barrier at all to implementation.  So i could concentrate on testing the site, and writing as clearly as i can about it.  Done (theres a gov stamp for that - feel the thud).</p>


    <h3 class="govuk-heading-m" id="weeknotes-23-oct-2020">23 October 2020</h3>

    <p>Laura has been busy all week, so work planned didn't get done.  The busyness is/was expected - there's a lot of higher priority work on.  We've got stuck for two weeks.</p>
    <p>It does highlight the issue of dependencies at this stage of maturity / the product / how we are operating.  It's essentially me, and Laura as lead/sro - to give minimum agreement and practice leadership/buy-in.</p>
    <p>In this impasse, I've added Google Analytics (GA) to the site - global tag.  I don't think theres any massive immediate value in this for the design system itself - but its done and ready to be built upon.  Its probably gonna be hard to use/limited in value for such few users - as GA is really for big data/many users.  But - easy to put in, easy to take out.  Its something in UX we should know about and use and promote - so we will learn things from it, for very little effort on my part.  In a beta you should be trying to learn about the thing - what do we see people do, so we can learn more about from them.  So its one more beta/launch ready thing - although was not needed for MVP in my opinion.</p>
    <p>We are at a point where i say - we are ready for launch - or just short of - so its review  if we are.  This is <a href="https://en.wikipedia.org/wiki/Muda_(Japanese_term)#:~:text=Muda%20(%E7%84%A1%E9%A7%84%2C%20on'yomi,others%20being%20mura%20and%20muri).">Muda</a> while we sit here.  <a href="https://www.youtube.com/watch?v=pujKOJbWWKM">I always say Muda in my head like this <span class="govuk-visually-hidden">- Youtube video - of the song 'Out on the streets they call it Murder'</span></a> lol. Its product murder to not ship value.</p>
    <p>It's at a pivot point - do we release / can the thing / change direction / etc / what do we change - this is a good thing to stop and reflect on - and I've brought it to this reflection point.</p>
    <p>Talking about where we are and whats holding us up, and all the change going on... We assume we are going to hand this over to Joe for the next phase, and move me into a different 'product' team - a multi disciplinary - which will be good for me for many reasons.  Also good for the system.</p>
    <p>Joe will be good at - partly through grade (seniority), position in the practice/community and his people skills - cajoling whats needed from all the people in the practice and the organisation.</p>
    <p>
    I hope Joe will continue to write these notes.  for me its:
    	<ul class="govuk-list govuk-list--bullet">
    		<li>transparency of work - governance innit</li>
    		<li>value in telling people whats learnt and done</li>
    		<li>a form of self retro to improve the product (and myself) next week</li>
    	</ul>
    </p>
    <p>A design system is about the organisations ability to design, not designers</p>
    <p>A design system is the sum of organisational design maturity - making a thing doesn't make you mature - but it can stimulate growth in maturity.  A design system isn't just a shiny product, its how you design - its how design is done.  A design system is always there in any org - it might just be one persons ideas and how they do things.</p>
    <p>for our design system this change for me to a 'product' team will be great, as things i now know / things we need to solve for a design system - i can lead/do that from the team.</p>
    <p>The way to make a design system successful - is the whole practice (and beyond), in the ways we work, bottom up - so i know what that feels like, and can lead on that from the coal face of a 'delivery' team.</p>
    <p>Struck me - we should do an assessment - a good way to handover.  Even without that it would have been a good thing.  I've been working in a way i believe is best - to be able to be assessed at any point - you've got to have standards and work to them.. So i have been.</p>
    <p>A design system is not just some components to copy.  Its the ways of working too.  A design system should be an exemplar of how to do it.  Thats been the plan.  And I've added that as a principle.</p>
    <p>Whats the standard here, for an assessment - always work to the best you know, and the bar we should expect for any public money - the <a href="https://www.gov.uk/service-manual/service-standard">Gov Service Standards</a>.</p>
    <p><a href="https://docs.google.com/presentation/d/1VyIPBQeJUJiRb0V5oUOMG26WfdS8UZaYSWYin3z_rNs/edit#slide=id.ga49dc1ff9f_0_71">Assessment slide deck (in progress)</a>.  I propose this is to launch a private beta (maybe even public) (in our context).  more than an alpha - as i believe its launch-able - or close to - it's time to properly review that - and get the whole practice behind the thing.  So an assessment is a great thing to do.  Anything that doesn't pass a point - is work to do/consider.</p>
    <p>My belief has always been:
    	<ul class="govuk-list govuk-list--bullet">
    		<li>its not hard to pass an assessment, because its how you are working - you did the work while doing the work</li>
    		<li>'failing' an assessment is great - it tells you where you can improve.  Its learning</li>
    	</ul>
    </p>
    <p>The hard part about an assessment is distilling down all the great work, to a short story(ies).  Time to show it all is the hard thing.  But maybe theres also a great lesson in that - if the stories are too big maybe the thing is too.  I think its hard for me - because its not my best skill to be brief - I'm excitable, and want to show (and talk about) it all.</p>
    <p>start the assessment/handover on Monday.  get cracking on the slide deck - minimum viable deck.</p>

    <h3 class="govuk-heading-m" id="weeknotes-16-oct-2020">16 October 2020</h3>

    <p>Different sort of week - 2 days off and 2 days at UCD Gathering, so nothing 'made'.  Lots of interesting things learned and considered which are relevant here - because of UCD gathering talks.</p>
    <h4 class="govuk-heading-s">Digital Scotland design system</h4>
    <p>
    	<ul class="govuk-list govuk-list--bullet">
    		<li>similar look to gov design system</li>
    		<li><a href="https://blogs.gov.scot/digital/2020/08/25/digital-scotland-design-system/">blogpost lists the benefits</a></li>
    		<li>includes at the top level - accessibility and the backlog.  I like both these, both are important, and I especially the simplicity of the backlog</li>
    		<li><b>analytics</b> <a href="https://designsystem.gov.scot/get-started/analytics/">in the Get Started section</a>, and how to <a href="https://designsystem.gov.scot/components/error-summary/">implement analytics in each component (error message example)</a>.  Very important to be measuring stuff from the outset, and to be baked in.</li>
    	</ul>
    </p>
    <hr>

    <h4 class="govuk-heading-s">Design debt</h4>
    <p><a href="https://www.ucdgathering.net/programme/dealing-design-debt">Session overview</a></p>
    <p>My thoughts on the topic and how a design system helps.</p>
    <p>There are, in a simplistic form (not going <a href="https://en.wikipedia.org/wiki/There_are_known_knowns">the full Donald Rumsfeld</a>), two sorts of debt:
    	<ul class="govuk-list govuk-list--bullet">
    		<li>known - that you know about when you ship</li>
    		<li>un-forseen - that you didn't know about that's found out after you release (some is only ever found by users)</li>
    	</ul>
    </p>
    <p>Its fine to have debt - making a conscious choice about it.  Its like using your credit card - you decide you gain more value overall, by 'realising' immediate value more quickly and paying back your debt later - maximising your overall gain.</p>
    <p>Providing you pay debt back at a rate that doesn't exceed that short term value gained - then you are in overall 'profit'.  We all understand that basic model in our own lives with credit cards - even if we don't manage to achieve it.</p>
    <p><a href="/public/images/weeknotes/design-debt.png">Examples of easy to see (foreseeable) design debt (image)</a></p>
    <p>You don't want un-forseen debt to overwhelm the value you are trying to realise.
    </p>
    <p>There will always be debt you didn't know about in advance.  You could probably get better at spotting it, but you will never see it all, much of it will be spotted by a user - for example a design that didn't solve the problem you hoped it would (an assumption you had).</p>
    <p>You can learn to better see what you couldn't before - the wisdom of experience, if you choose to observe.  But there will always be some that cannot be predicted in advance, or is not worth the 'cost' - better to find it later.</p>
  	<p>Perhaps also by measuring in production against what was known prior, you can start to find a base level of how much unforeseeable debt you will ship.  So you know how much, on average you get, but you don't know where it is - until later.  maybe a constant number/percent?</p>
  	<p>How to get better at spotting debt in advance, and help actual design debt be paid back - increase the teams UX skills.  and...</p>
  	<p>There are also ways to minimise debt in advance - by having proven designs to reuse.</p>   
    <p>Design systems help with design debt
    	<ul class="govuk-list govuk-list--bullet">
    		<li><b>making it visible</b>: what we have recorded currently - what's in prod - shows the design debt.  It shows the differences between systems.  This feels easy to measure.  [keeping a record of design debt</li>
    		<li><b>reducing future debt</b>: having a style guide and proven patterns and components (visual and code) to copy.  Less debt taken on.  Possibly this would be hard to measure - hard to prove how much worth a design system has</li>
    	</ul>
    </p>
    <hr>

	  <h4 class="govuk-heading-s">Process-first design systems</h3>
	  <p>
		  <q cite="https://www.ucdgathering.net/programme/process-first-design-systems">A design system should be more than a collection of patterns or a style guide. Design systems can (and should) inform how everyone in your teams contributes to the design of a product or service. By focusing on your processes and ways of working, your organisation can build a more robust system that helps teams deliver better.</q>
		</p>
	  <p><a href="https://www.ucdgathering.net/programme/process-first-design-systems">Session details</a> and <a href="/public/documents/weeknotes/DesignSystems_UCDGathering-Jack-Transcipt.pdf">Design Systems UCD talk transcript (pdf) <span class="govuk-visually-hidden">. Text version of 90% of the transcript is repeated in the page, next</span></a>.  My notes/transcript:</p>
    <p><b>Whats the point?</b>
    	<ul class="govuk-list govuk-list--bullet">
    		<li>Design systems help organisations stay consistent - thats usually where they start off - the trigger</li>
    		<li>they empower individuals to work collaboratively (if you have lots of designers in different areas [aka silos]).  This is an opportunity to work together</li>
    		<li>they also help teams deliver better. Faster eventually, but to begin with they will slow us down - and thats good - to be more considered.  to make the way we design a little more deliberate</li>
    		<li>a design system should reflect how your team works, not how you think they should.  At first you are essentially creating a library of whats happened</li>
    		<li>should include ways of working</li>
    	</ul>
    </p>
    <p><b>Misconceptions and Myths</b>:
    	<ul class="govuk-list govuk-list--number">
    		<li>a design system is a library of reusable patterns (the biggest culprit).  Your pattern library is just one part of your design system.  Focusing on it is reactionary to the inconsistency in your products. <b>Its more efficient to solve the root cause of that inconsistency</b> - at the very beginning, before inconsistency happens.  <b>The root cause is generally in the process</b> - in in how people work together - in both design teams and multi-disciplinary teams.</li>
    		<li>Visual consistency is the goal of the design system.  Can be impossible to achieve - especially with many teams. <b>Visual familiarity is the goal</b>.  Vogue quote - when shaping eyebrows they should be sisters and not twins!  In gov though closer is better, but still dont want renew driving license to feel like prison service</li>
    		<li>It should tell designers how to design products and services.  Thats not un-true, it just shouldn't be hard and fast rules.  <b>It should help teams make products and services</b>.  Design system is led by the emerging products and services, not dictated.  Essentially - you don't make the design system first.  Document whats been done then that becomes your design system, after that you can change things over time - it should set the tone and the structure of how your organisation designs the thing it does</li>
    		<li>a design system is for designers.  It should be relevant to everyone in your organisation who's making products and services in your org.  <b>A design system is for everyone in your team</b>.  It can be led by designers, but its about realising the product and services (eg architect - designs the building, but doesn't supply the bricks)</li>
    	</ul>
    </p>
    <p><b>So, how should we think about it?  A new plan</b>:
    	<ul class="govuk-list govuk-list--bullet">
    		<li>The principles and materials needed to design a product or service in a way that remains as consistent as necessary - not as consistent as possible.  So not just a pattern library, but the stuff around it - how we do it, and why we do it.</li>
    		<li>a) technical system.  the physical bit, the cogs etc</li>
    		<li>b) <b>behavioural system (the missing bit) a process driven design system</b>. the individual needs and rewards and expectations and attributes of the human beings in an organisation.  how do those people do the work they do? what do they need to be able to do that? not just the tools.</li>
    		<li><b>prioritise process before patterns and components</b> helps us see where we can streamline and improve how we work as a team.  Improves design overall and bring individuals together.  create a collaborative environment at every stage,design isn't just for designers</li>
    	</ul>
    </p>
    <p>Where to start?  Try to figure out <b>what should the design system be</b>... What should be in it, what content, what tools.  There are 1000's of companies doing design systems and the temptation is to take inspiration from them.  Keep in mind they are solving design problems unique to their organisation, and they may not be doing it very well.</p>
    <p><b>7 steps to implement a process-first design system</b>:
    	<ul class="govuk-list govuk-list--number">
    		<li><b>Do some internal research</b> - learn about teams end-to-end process, how are decisions made? who makes them? what they need to make those decisions.  Consider the process from inception right through to final delivery of the work, and how people work together on that.  How does the work go from research to design to engineering to production? how does that happen. What happens at those stages - not just sending a sketch file across, but what decisions happen. trying to find opportunities to collaborate</li>
    		<li><b>Map your process</b>.  (like a journey map).  Try to generalise.  <a href="/public/images/weeknotes/design-process.png">Process may look like this (image)</a>, What we can do is look <a href="/public/images/weeknotes/design-process-improved.png">where we can introduce new stages (image)</a> - <b>for review and documentation</b>. The idea behind this is to get people thinking about reuse - not just patterns and components, but ways of working and principles. get them thinking about that re-usability as they are doing the work.  Reviews might look like it slows things down - and it will initially, as people get used to it - but starts to remove later problems, and raises design skills across the team/org</li>
    		<li><b>Create space for it to live and grow</b>. Ideally you want everything you document to follow the same structure.  Really the design process should be able to be transplanted into engineering or product.  Documenting the design as you go - want to be in a place everyone can access and everyone can understand.  <a href="/public/images/weeknotes/to-document-about-each-design.png">Example (image) (for any piece of work - this example is for a design system thing, but same for anything)</a>. Like to apply Alpha, beta, live to a really granular level - to each design thing.  Note he means live as in - in production</li>
    		<li><b>Fill in the gaps</b>. e.g. perhaps you don't have design principles and you think it will benefit your team to have a set, or perhaps you want to tighten the relationship between design and product, or engineering and research... good way of doing that is to...</li>
    		<li><b>Create ceremonies</b>. Set aside some time to discuss the design system, whether to contribute to it, to check in with it, or to manage change.  e.g. once a week - new patterns can be discussed, old components can be updated.  <b>The importance is to create an environment of decision making</b>. Use it as a way to streamline the process, to own it, accountability and responsibility</li>
    		<li><b>Start bringing it to the wider organisation</b>. If your org is large theres a good chance lots of people can be left out that could contribute.  Its not just about you as a designer, Marketing, comms team, or technical stakeholders - these are all valuable design resource.  Theres a shared identity with what your org puts out there.</li>
    		<li><b>Test, learn and share</b>.  A design system is never going to be finished.  As teams grow and change, so does the design system.  Its ok to remove stuff its ok to fail, its ok to start again.  Share (in the open) - there are lots of people there to give advice, and there of lots of people who need advice.</li>
    	</ul>
    </p>
    <p>The main benefit of a design system - its not documenting the patterns and components - its in streamlining those processes and bringing together the teams as a cohesive unit.  By learning from the people that contribute to the product in your org, everyone that contributes to it, you can begin to instill that collaborative way of thinking, by default. Encourage everyone to be involved in design, open it up for other people.  Free the designers up to solve broader problems.  The side effect being they become much more agile, things become faster, and therefore cheaper.</p>



    <h3 class="govuk-heading-m" id="weeknotes-09-oct-2020">09 October 2020</h3>

    <p>
    	week plan:
	  	<ul class="govuk-list govuk-list--bullet">
	  		<li>publish survey results - done</li>
	  		<li>publish footer and links</li>
	  		<li>publish advice creation and review process</li>
	  		<li>make a better homepage - show whats new, evolution - publish the above</li>
	  		<li>new survey / copy existing? - for anyone who visits the site, to have a go with - e.g. front end, product</li>
	  	</ul>
	  </p>

	  <p>Done: 
	  	<ul class="govuk-list govuk-list--bullet">
	  		<li>survey results published (survey closed, and results shared on design slack channel) - not analysed results, no comments on slack about it</li>
	  		<li>v2 survey made, a copy of the previous, but open to everyone, so additional question about what your role/job is.  Not been sent to anyone - consider when to do that, but readied it in case we got interest form non designers by talking about previous survey, and...</li>
	  		<li>new homepage - make 'a launchable thing' - mvp design system.  may rasie interest/questions outside of design, so survey ready for that.</li>
	  	</ul>
	  </p>
	  <h4 class="govuk-heading-s">a launchable thing...</h4>
	  <p>Sketched out idea for homepage, what that meant - what would be an MVP that would last in basic format for a while.</p>
	  <p>Key things to answer i thought were: 
	  	<ul class="govuk-list govuk-list--bullet">
	  		<li>what is the design system then? - what is this now, some context</li>
	  		<li>provide some value - why do i want to use this? - advice to follow</li>
	  		<li>we hope this is a dynamic thing and will grow, as this is the start</li>
	  		<li>its a whole practice thing (actually a cross practice - but start with the practice)</li>
	  	</ul>
	  </p>
	  <p>Given all this - what seemed useful was a pattern we can reuse for a while: whats new, whats in progress, help we need - form the homepage, and then a page for each, which can be built outward as necessary - e.g. whats new can start to build into a history, so can see what was done when as we don;t know how long between visits.  Also gives a transparent way of people seeing the progress we (the practice) are making.  Whats new and whats in progress also need full practice engagement, and interest so focus them toward others getting involved - feeding back after release, and helping stuff get agreed</p>
	  <p>We didn't get footer, links and process drafts reviewed and agreed between Laura and myself.  too much else on - higher priority (people, and teams delivery first) - helping with staff progression, Laura's BEIS assessment work, and mainly with FutureGov starters.  Optimistically this will happen next week - but leave, and UCD Gathering is 4 days of next week.  So likely wont be done - just first pass review.</p>
	  <p>FutureGov design colleagues - lots of interesting questions about design documentation, and how we work, etc. They will have interesting perspectives and knowledge and experience about design systems, and topics that relate, so organised a chat with Stuart for next week, and shared the current design system with him and some notes.  He worked on design system previously - so a lot there he can help us with.</p>
	  <p>Pleased with where this now is at - feels like a launch-able thing.  Felt it was small audience MVP before, but i think the homepage and basic 4 pages are a good basic structure that makes it feel more real to people who see it, especially outside the practice.  People's first impression, reflects on whether they follow the advice - we want design work to be taken seriously. Feels like a thing - before was a couple of white pages, no different to a document. And is similar in look to gov design systems.</p>
	  <p>I'm close to it - the acid test is the audience - designers, need to see it, feel it, consider it, and feedback.  Would like that to happen next week.</p>

    <h3 class="govuk-heading-m" id="weeknotes-02-oct-2020">02 October 2020</h3>
    <p>
    	week plan:
	  	<ul class="govuk-list govuk-list--bullet">
	  		<li>write shorter/briefer weeknotes &#128512;</li>
	  		<li>write plan here at start of week</li>
	  		<li>create, agree and publish our first advice - links opening in new windows or not.  Prompted by -> this convo came up again on the accessibility slack channel.  The question was from a non-designer and people want 'rules'/advice to follow.  Although we had a 'decision'/advice a while ago - ts not public.  Slack convo then had lots of opinions and differing advcie. single source of practice guidance is good for everyone.</li>
	  		<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc_8SfRY5NJF5DK7HVYU96Dfc565avCsuj35JLP8gMKZEgbHg/viewform?usp=sf_link">Survey</a> - remind / encourage people, get feedback about it (email and at Thu community session)</li>
	  		<li>make a better homepage - make it a place we can share/is useful</li>
	  		<li>homepage to have links to a few high level sections?  if so and one it prototyping, include link to community tools like form validating in proto</li>
	  	</ul>
	  </p>

	  <p>'opening accessibility statement links in a new window, or not' came up again on the accessibility slack channel.  The question was from a non-designer and people want 'rules'/advice to follow.  Although we had a 'decision'/gave advice a while ago - it's not public.  Slack convo had lots of opinions and differing advice. A single source of practice guidance is good for everyone.  I drafted some advice - about links in general, and specifcally about when to open in a new tab or not, and sent to Laura Joe and Erin for review.</p>
	  <p>Joe i don't think had time to look, and Erin fedback she's too busy with project work to contribute as much as she'd want.  I thought this might well be the case, so good to learn, and highlights that we will find it hard to make it a practice thing, for people to find time, and specifically to draft good content.</p>
	  <p>Laura and i decided it would be better to also publish advice about the footer, and then publish both and cross reference.  After coming up with footer design, Laura fedback that she needed more context - as i alone am looking at the detail and the background, it's hard for others to see/know all that.  Again good to learn, and with me being full time on it, but no one else having much time, i need to summarise the work and present it for review.</p>
	  <p>I summarised all the footers in use in staff systemsm the old design system, and gov.uk design system - they are all different.  I summarising the differences, the issues, and proposed a design very simlar to the gov design system.  I think a document summarising what we know, and a conclusion and design specification are a useful document to have - a) for others to review so we can determine the practices v1 of advice, but also b) we get a history, documentation of our decisions, what we knew and why we made the decision we publish.</p>
	  <p>Given other peoples availabilty, and the desire for this to be a practice wide agreement, and buy-in, Laura and I also came up with a, v1, process for drafting and publishing advice.</p>
	  <p>So, we didn't get the footer and links advice published, but have worked out a process for doing so, which feels very useful.</p>
	  <p>like everything, the process should be public, v1, and commentable - I'll publish it here next week, once written up - it will be a google doc, like all our documentation.</p>

	  <h3 class="govuk-heading-m" id="weeknotes-25-sep-2020">25 September 2020</h3>
    <p>
    	So we (Joe, Laura, Erin and Andy [I] had a meet) - to discuss questions, and get thinking going, about:
	  	<ul class="govuk-list govuk-list--bullet">
	  		<li>why are we doing this? what outcomes are we looking for?</li>
	  		<li>has someone asked for this/what is 'this'?</li>
	  		<li>what do designers need?</li>
	  		<li>is the outcome/need the same for everyone - at a high level (better services made more quickly).  So what do we do for designers (remembering that more than just designers 'design' the services)
	  		<li>what shape is the system - what do we mean by a design system?</li>
	  		<li>we have 3 different brands / service channels - one singular thing, or a collection of similar things - like one per discrete 'family'</li>
	  		<li>what constitutes 'proven' - is public advice, and whats the stuff/work below that threshold - the body of the iceberg below the waterline of public</li>
	  		<li>how do we get there - its a lot of work - one person/team or part of everyones job - how do we do that. Other depts/orgs are bigger and have teams</li>
	  		<li>where I think we are at - what I think we should do next - common things in every page / service</li>
	  		<li>what do we do next - lets do something tangible, start publishing stuff people need - what is that? can we decide today?</li>
	  	</ul>
	  </p>
	  <p>We've discovered that a design system is part of the DDaT Business plan &#128547;, Joe is going to find out more about what that means, what peoples thinking is/was, what objectives, outcomes.  Give us more context.  But we should concentrate on a library of things for designers - (people whose job title is designer), and we should find out what they need - answer the question - what do designers need from a design system</p>
	  <p>The trick is to not ask that directly - we know this from user research - it's such a loaded question, and heavily biased toward a whole raft of things.  So needs thought - draft some thoughts on this, involve a researcher for advice.  Maybe its ok to ask directly and know we have bias - just get things rolling, as we can measure, and change direction - as people give it more thought.</p>
	  <p>I'd really like the use this as part of the 'pull' on the design system - the practitioners to say what they next need - so we focus on meeting what they want - so would like to make it easy to achieve, and make the results public - lets the practice itself own the backlog.  (note: add this to design system principles - that is is owned/led by the practice &#128512;).  I think this might be a case of - don't over think it - be agile, make a small thing, dont be precious about it, measure it, respond to whats learnt, change tack, or dispose.</p>
	  <p>maybe a survey - much as i despise surveys, but knowing their limitations will mean we'll not be wedded to it.  Could ask about current use of things in popular design systems, and get an indiaction of usefulness of each - easy to automatically collated and publish results, and run again later. <b><a href="https://docs.google.com/forms/d/e/1FAIpQLSc_8SfRY5NJF5DK7HVYU96Dfc565avCsuj35JLP8gMKZEgbHg/viewform?usp=sf_link">Survey</a> created and sent out</b> (Ros tested),  We'll publish the results here</p>
	  </p>
	  <p>Added versioning, wrote some routes to hopefully, always point people to the latest advice.  Like anything we make - we want to be able to see/show how weve changed it over time.  History and Weeknotes dont get versioned - thet are the ongoing documentation of the thing.  so /advice alwats goes to latest advice, /weeknotes and /history to, well obvs.</p>
	  <p>Id like to change the main page to a landing page, and have a whats new - maybe next week, with the survey results &#128512;</p> 

    <h3 class="govuk-heading-m" id="weeknotes-18-sep-2020">18 September 2020</h3>
    <p>
    	all the shared documents of 'what is currently in use' - have been updated to include everyones notes (so we have no orphan documents) for the published:
 			<ul class="govuk-list govuk-list--bullet">
	  		<li>components</li>
	  		<li>pages</li>
	  		<li>style</li>
	  		<li>help pattern</li>
	  	</ul>
	  </p>
	  <p>
	  	The tracking spreadsheet reflects where we are with these documents, and the individual document history is also up to date - so our three things (site, shared docs and tracker) are all up to date, tidied up and consistent - we are at a good known point.
	  </p>
	  <p>
	  	The question is what to do next.  So have summarised where we are, how we got here, and given some though to what shall we do next then - lets work out whats next in the context of the big picture. Organised discussion for next week.
	  </p>

    <h3 class="govuk-heading-m" id="weeknotes-11-sep-2020">11 September 2020</h3>
    <p>
    	I would like the way we work to be an exemplar of working in an agile way - be open, clear, communicate regularly, not be too stiff, just enough, etc, so have:
 			<ul class="govuk-list govuk-list--bullet">
	  		<li>started a <a href="https://trello.com/b/8oDGtPah/design-system">kanban board</a> for the next phase - a backlog of big things, that will feed the 'to-do now' list. Just me, Joe, Laura and Erin to start</li>
	  		<li>added a <a href="history">history page</a>.  Good to show people that content is being added/improved (governance / demonstrate value), But more so to help design system users to find out 'whats new since i last came here?'  The GOV design system - i find i don't know when advice gets updated, or new advice is added. I think that's a useful thing to provded a user. As this feels like it would be useful functionality -  its something to test (note to self - add to trello cards for user need and + assumption/to test &#128512;)</li>
	  		<li>started these 'project weeknotes' - good to a) reflect on what done/learnt and b) communicate progress in a simple, lightweight way</li>
	  		<li>orgainsed a meet for next week to decide shape of next phase of work, and make a backlog</li>
	  	</ul>
	  </p>
	  <p>The advice published - the 'what do we currently have' - is being updated daily as I've been improving the collated documents, to ensure they are a single way to see what we have documented about each thing.</p>
	  <p>This housekeeping also includes the google sheet, so everything is tidy enough to be useful and less a source of confusion.  This led me to think more about the purpose of the different things we have, and tweak things:
	  	<ul class="govuk-list govuk-list--bullet">
			  <li>website - the front door - the place to go to for design advice and everything about the design system (and the project work - hence this page)</li>
			  <li>collated documents - where what we know about each component/pattern is collated.  These are essentially the 'pages' of what we currently do, that are published here.  So needed to make each one 'the thing', by ensuring no orphan documents exist and that its all joined up.  These documents are the public advice, and can have comments, discussion, opinion - they are what we know and think.  Google docs are great to comment, track changes, collaborate etc - everyone can use with no technical training needed (unlike github).  So an important principle/need (note to self - add to my list &#128512;&#128512;) - minimise the barrier to entry/collaboration</li>
			  <li>Google sheet - use to track progress and see status - a view across the documentation - for example: whos working on documents, has it been reviewed.  The sheet contains more than this, like proposed patterns / ideas for patterns - they would be better surfaced on the site, with a mechanism for feedback and new patterns spotted (&#128513; another note to self)
		  	</li>
	  	</ul>
    </p>
    <p>wow, writing this weeknote is useful - made me think, and i added 4 useful items to the backlog/what we know - user needs, principles, something to test/learn more about, how we organise the work so its easier to do &#128541;</p>

  </div>
</div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer app-footer app-footer--full" role="contentinfo">
  <div class="govuk-width-container app-width-container">
       
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <h2 class="govuk-footer__heading govuk-heading-m govuk-visually-hidden">Whats happening with the system</h2>
        
          <ul class="govuk-footer__inline-list">
        		<li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/">
                Home
              </a>
            </li>             
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/history">
                Content updates
              </a>
            </li>
          
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/weeknotes">
                Project updates
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/accessibility-statement">
                Accessibility statement
              </a>
            </li> 

          </ul>
           
<!--             <div class="govuk-footer__meta-custom">
              Built by the <a href="/design-system-team" class="govuk-footer__link">GOV.UK Design System team</a>
            </div> -->
      </div>

    </div>
  </div>
</footer>
{% endblock %}
