
{% extends "layout_app_page.html" %}

{% block pageTitle %}
  Design system - Service unavailable
{% endblock %}


{% block appnav %}
	{% include ".././_partials/_appnav.njk" %}
{% endblock %}

{% block appsidebar %}
	{% include ".././_partials/_appsidebar.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Service unavailable
      <span class="govuk-caption-m"><strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong> ideas for an HMLR design system</span>
    </h1>
    <p>Also knowns as 503 page, these are pages to inform the user that the service is temporarily unavailable - to tell them when the service will be available again and what action to take in the meantime.</p>

    
    

  </div>
</div>

{% endblock %}
