<div class="app-pane__subnav">
  <nav class="app-subnav">
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/content/how-we-write/">How we write</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/content/voice-and-tone/">Voice and tone</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/content/domain-language/">Domain language</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/content/links/">links</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/content/pdfs/">PDFs</a>
      </li>
    </ul>
  </nav>
</div>