
{% extends "layout_app_page.html" %}

{% block pageTitle %}
  Design system - Design
{% endblock %}


{% block appnav %}
	{% include ".././_partials/_appnav.njk" %}
{% endblock %}

{% block appsidebar %}
	{% include ".././_partials/_appsidebar.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Design
      <span class="govuk-caption-m"><strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong> ideas for an HMLR design system</span>
    </h1>
    <p class="govuk-body-l">What graphic and interaction designers need to do to make digital services accessible.</p>
    <p>Have a read of the <a href="https://service-manual.nhs.uk/accessibility/design">NHS Service Manual - accessible design</a></p>

  </div>
</div>

{% endblock %}
