
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Changes to the design system
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Updates to the contents of the system
    </h1>   

    <p class="govuk-lead">Brief details of changes published here.  For example, when <a href="/advice">advice to follow for all new work</a> has been changed, new sections published, or a change to the direction of the design system project work.</p> 

    <h2 class="govuk-heading-l">Advice to follow - publication history</h2>

    <h3 class="govuk-heading-m" id="advice-23-sep-2020">23 September 2020</h3>
    <p>More detail of whats in our production systems is available, as the Google docs have been fully updated, no orphan documents behind the scenes that designers wrote.  All links lead to all we have about that thing.</p>

    <h3 class="govuk-heading-m" id="advice-09-sep-2020">09 September 2020</h3>
    <p>More detail of whats in our production systems is available, as the Google docs have been updated, links added to more documentation for components.</p>

    <h3 class="govuk-heading-m" id="advice-12-aug-2020">12 August 2020</h3>
    <p>Initial publication of advice to follow for all new work.</p>


    <h2 class="govuk-heading-l">Changes to the system itself</h2>

    <h3 class="govuk-heading-m" id="system-change-06-oct-2020">06 October 2020</h3>
    <p>A Launchable thing - enough that people can see something, understand what it is, and start to use it and contribute.</p>
    <p>Follow the project principles: work in the open; the system is owned by the whole practice; meet user needs; minimise barriers to contribution and collaboration; minimise the cost of change.</p>
    <p>Version 3 changes:
	    <ul class="govuk-list govuk-list--bullet">
	  		<li>homepage, new and responsive (needs a little more work)</li>
	  		<li>'whats new' page/summary. User need: what's new since I was last here</li>
	  		<li>'whats being worked on', and 'how to help' summary/pages. User needs: I want to my experience, skills and knowledge to be utilised; I want agreed advice</li>
	  		<li>consistent footer with navigation, that includes history of changes and project thinking/learning</li>	  		
	  		<li>create beta template and style files, to seperate it from the alpha work, and make it easier to iterate and others to work on</li>
	  	</ul>
	  </p>

    <h3 class="govuk-heading-m" id="system-change-23-sep-2020">23 September 2020</h3>
    <p>Added a version history - now on version 2:
	    <ul class="govuk-list govuk-list--bullet">
	  		<li>Version 2 - from 23 sept 2020.  made versionable, and changed title (removed 'a road to')</li>
	  		<li>Version 1 <a href="/beta/v1/">inital version of introduction and advice</a></li>
	  	</ul>
	  </p>

  </div>
</div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer app-footer app-footer--full" role="contentinfo">
  <div class="govuk-width-container app-width-container">
       
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <h2 class="govuk-footer__heading govuk-heading-m govuk-visually-hidden">Whats happening with the system</h2>
        
          <ul class="govuk-footer__inline-list">
        		<li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/">
                Home
              </a>
            </li>             
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/history">
                Content updates
              </a>
            </li>
          
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/weeknotes">
                Project updates
              </a>
            </li>
            
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/accessibility-statement">
                Accessibility statement
              </a>
            </li>             
          </ul>
           
<!--             <div class="govuk-footer__meta-custom">
              Built by the <a href="/design-system-team" class="govuk-footer__link">GOV.UK Design System team</a>
            </div> -->
      </div>

    </div>
  </div>
</footer>
{% endblock %}
