
{% extends "layout_app_page.html" %}

{% block pageTitle %}
  Design system - Radios
{% endblock %}


{% block appnav %}
	{% include ".././_partials/_appnav.njk" %}
{% endblock %}

{% block appsidebar %}
	{% include ".././_partials/_appsidebar.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Radios
      <span class="govuk-caption-m"><strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong> ideas for an HMLR design system</span>
    </h1>
    <p>Messages let users know whats going, as a result of their action, or something that has happened in the service</p>
  	<p>This is different to error messages when validating information entered into forms.  And not http error code pages like page not found and service unavailable.</p>

  	<h2 class="govuk-heading-l">example</h2>
		<div class="govuk-tabs" data-module="govuk-tabs">
		  <h2 class="govuk-tabs__title">
		    Contents
		  </h2>
		  <ul class="govuk-tabs__list">
		    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
		      <a class="govuk-tabs__tab" href="#casework">
		        Casework
		      </a>
		    </li>
		    <li class="govuk-tabs__list-item">
		      <a class="govuk-tabs__tab" href="#hmlr">
		        HMLR
		      </a>
		    </li>
		    <li class="govuk-tabs__list-item">
		      <a class="govuk-tabs__tab" href="#govuk">
		        Gov.uk
		      </a>
		    </li>
		  </ul>
		  <div class="govuk-tabs__panel" id="casework">
		    <h2 class="govuk-heading-l">Casework</h2>
		    
		    
		  </div>
		  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="hmlr">
		    <h2 class="govuk-heading-l">HMLR</h2>
		    <table class="govuk-table">
		      <thead class="govuk-table__head">
		        <tr class="govuk-table__row">
		          <th scope="col" class="govuk-table__header">Case manager</th>
		          <th scope="col" class="govuk-table__header">Cases opened</th>
		          <th scope="col" class="govuk-table__header">Cases closed</th>
		        </tr>
		      </thead>
		      <tbody class="govuk-table__body">
		        <tr class="govuk-table__row">
		          <td class="govuk-table__cell">David Francis</td>
		          <td class="govuk-table__cell">24</td>
		          <td class="govuk-table__cell">18</td>
		        </tr>
		        <tr class="govuk-table__row">
		          <td class="govuk-table__cell">Paul Farmer</td>
		          <td class="govuk-table__cell">16</td>
		          <td class="govuk-table__cell">20</td>
		        </tr>
		        <tr class="govuk-table__row">
		          <td class="govuk-table__cell">Rita Patel</td>
		          <td class="govuk-table__cell">24</td>
		          <td class="govuk-table__cell">27</td>
		        </tr>
		      </tbody>
		    </table>

		  </div>
		  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="govuk">
		    <h2 class="govuk-heading-l">gov.uk</h2>
		    <table class="govuk-table">
		      <thead class="govuk-table__head">
		        <tr class="govuk-table__row">
		          <th scope="col" class="govuk-table__header">Case manager</th>
		          <th scope="col" class="govuk-table__header">Cases opened</th>
		          <th scope="col" class="govuk-table__header">Cases closed</th>
		        </tr>
		      </thead>
		      <tbody class="govuk-table__body">
		        <tr class="govuk-table__row">
		          <td class="govuk-table__cell">David Francis</td>
		          <td class="govuk-table__cell">98</td>
		          <td class="govuk-table__cell">95</td>
		        </tr>
		        <tr class="govuk-table__row">
		          <td class="govuk-table__cell">Paul Farmer</td>
		          <td class="govuk-table__cell">122</td>
		          <td class="govuk-table__cell">131</td>
		        </tr>
		        <tr class="govuk-table__row">
		          <td class="govuk-table__cell">Rita Patel</td>
		          <td class="govuk-table__cell">126</td>
		          <td class="govuk-table__cell">142</td>
		        </tr>
		      </tbody>
		    </table>
		  </div>
		</div>

		<h2 class="govuk-heading-l">When to use this component</h2>

		<p>Use the radios component when users can only select one option from a list.</p>

		<h2 class="govuk-heading-l">When not to use this component</h2>

		<p>Do not use the radios component if users might need to select more than one option. In this case, you should use the checkboxes component instead.</p>


  </div>
</div>

{% endblock %}
