<div class="app-pane__subnav">
  <nav class="app-subnav">
  	<h4 class="app-subnav__theme">Pages</h4>
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/document-viewer/">Document viewer</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/task-page/">Task page</a>
      </li>
    </ul>
    <h4 class="app-subnav__theme">Accounts</h4>
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/create-account/">Create account</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/sign-in/">Sign in</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/reset-password/">Reset password</a>
      </li>
    </ul>
    <h4 class="app-subnav__theme">Error pages</h4>
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/page-not-found/">Page not found (404)</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/there-is-a-problem-with-this-service/">There is a problem with this service (500)</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/service-unavailiable">Service unavailable (503)</a>
      </li>
    </ul>
    <h4 class="app-subnav__theme">Legal pages</h4>
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/accessibility-statement/">Accessibility statement</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/cookie-policy/">Cookies page</a>
      </li>
    </ul>
    <h4 class="app-subnav__theme">Dashboards</h4>
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/patterns/dashboards/">Service dashboard</a>
      </li>
    </ul>
  </nav>
</div>