
{% extends "layout_app_page.html" %}

{% block pageTitle %}
  Design system - There is a problem with this service
{% endblock %}


{% block appnav %}
	{% include ".././_partials/_appnav.njk" %}
{% endblock %}

{% block appsidebar %}
	{% include ".././_partials/_appsidebar.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      There is a problem with this service
      <span class="govuk-caption-m"><strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong> ideas for an HMLR design system</span>
    </h1>
    <p>Also knowns as 500 error, these are pages and messages for when something unexpected happens in your service - to reasure and the user as to what to do next</p>


    
    

  </div>
</div>

{% endblock %}
