
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Accessibilty Statement for the Design system
{% endblock %}

{% block content %}

<style>
.govuk-footer {
	background: none;
}
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accessibility statement for the Design system of HM Land Registry  
      </h1>

			<p>This website is run by the Design practice of HM Land Registry. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

			<ul class="govuk-list govuk-list--bullet">
			  <li>change colours, contrast levels and fonts</li>
			  <li>zoom in up to 200% without the text spilling off the screen</li>
			  <li>navigate most of the website using just a keyboard</li>
			  <li>navigate most of the website using speech recognition software</li>
			  <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
			</ul>

			<p>We&apos;ve also made the website text as simple as possible to understand.</p>

			<p><a rel="external" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

			<h2 class="govuk-heading-l" id="how-accessible-this-website-is">How accessible this website is</h2>

			<p>We intend this site to be fully accessible, but know some parts of may indicate as not fully accessible:</p>

			<ul class="govuk-list govuk-list--bullet">
			  <li>Some pages have repeated links to the same location.  These are spread out in the page, and sometimes have different link text.  Automated tests flag these up as potential issues, but we feel they are ok given the context.  We'd be keen to understand if they do cause practical issues</li>
			</ul>

			<h2 class="govuk-heading-l" id="feedback-and-contact-information">Feedback and contact information</h2>

			<p>If you need information on this website in a different format, or have suggestions of how we can improve this site:</p>

			<ul class="govuk-list govuk-list--bullet">
			  <li>email: andy.porter@landregistry.gov.uk</li>
			</ul>

			<p>We&apos;ll consider your request and get back to you within 5 days.</p>

			<h2 class="govuk-heading-l" id="reporting-accessibility-problems-with-this-website">Reporting accessibility problems with this website</h2>

			<p>We&apos;re always looking to improve the accessibility of this website. If you find any problems that aren&apos;t listed on this page or think we&apos;re not meeting the accessibility requirements, email andy.porter@landregistry.gov.uk</p>


			<h2 class="govuk-heading-l" id="enforcement-procedure">Enforcement procedure</h2>

			<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the &apos;accessibility regulations&apos;). If you’re not happy with how we respond to your complaint, <a rel="external" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

			<h2 class="govuk-heading-l" id="contacting-us-by-phone-or-visiting-us-in-person">Contacting us by phone or visiting us in person</h2>

			<p>Currently we only provide a first contact via email.  This site is operated by a small team and meant primarily for employees of HM Land Registry.</p>

			<p>We will be happy to try to communicate with you by phone, or other means. Please indicate in your first email how we can best communicate further with you.</p>


			<h2 class="govuk-heading-l" id="technical-information-about-this-websites-accessibility">Technical information about this website’s accessibility</h2>

			<p>The Design practice in HM Land Registry is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

			<p>This website is fully compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>


			<h2 class="govuk-heading-l" id="non-accessible-content">Non accessible content</h2>

			<p>We have, for this small, limited audience site, not conducted full accessibility testing of everything.  There may be items that do not meet the WCAG 2.1 AA standard, that have yet to be tested.</p>

			<p>The web pages that make up this site pass the WCAG 2.1 AA standard, but the site contains links to the following items which have not yet been tested by us:</p>

			<ul class="govuk-list govuk-list--bullet">
			  <li>Google documents, sheets and surveys</li>
			  <li>a Microsoft Streams hosted video.  This is not essential content</li>
			  <li>a PDF of a Video transcript, provided to us.  This is not essential content and most of the transcript has been repeated in html in the site</li>
			</ul>

			<p>Feedback about the accessibilty of these items, in practical use, is very welcome.</p> 


			<h2 class="govuk-heading-l" id="how-we-tested-this-website">How we tested this website</h2>

			<p>This website was last tested on 30 October 2020. Tests were carried out by Andy Porter, using Wave, web accessibilty testing tool -a Google Chrome browser plugin, running the website in Google Chrome browser.</p>

			<ul class="govuk-list govuk-list--bullet">
			  <li>We tested our main website, and all the top level links from the main page, available at https://design-system-hmlr.herokuapp.com/</li>
			</ul>

			<h2 class="govuk-heading-l" id="what-were-doing-to-improve-accessibility">What we&apos;re doing to improve accessibility</h2>

			<p>This statement was prepared on 30 October 2020. It was last updated on 30 October 2020.</p>
			</div>

    </div>
	</div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer app-footer app-footer--full" role="contentinfo">
  <div class="govuk-width-container app-width-container">
       
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <h2 class="govuk-footer__heading govuk-heading-m govuk-visually-hidden">Whats happening with the system</h2>
        
          <ul class="govuk-footer__inline-list">
        		<li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/">
                Home
              </a>
            </li>             
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="history">
                Content updates
              </a>
            </li>
          
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="weeknotes">
                Project updates
              </a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="accessibility-statement">
                Accessibility statement
              </a>
            </li>             
          </ul>
           
<!--             <div class="govuk-footer__meta-custom">
              Built by the <a href="/design-system-team" class="govuk-footer__link">GOV.UK Design System team</a>
            </div> -->
      </div>

    </div>
  </div>
</footer>
{% endblock %}