
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design system work in progress
{% endblock %}

{% block content %}

<style>
.govuk-footer {
	background: none;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Work in progress</h1>    

    <p class="govuk-body-l">Work in flight which we'd like to agree and publish soon, such as new advice, that could be improved with more people involved.</p>

    <h2 class="govuk-heading-l">Footer for staff systems</h2>
    <p>A drafted footer specification for staff systems (only).  A footer is a common element we all need and we're being led by needing to document advice for footer links (new window or not?)</p>
    <p><b>Current status:</b> Andy and Laura are creating the <a href="https://docs.google.com/document/d/1eQgKOarTfa7Ydgx2wkzD5MQiC0kIzE0ByXS6XhuKZnE/edit#">first draft</a>. Once we're happy, it will be sent to the practice for review. Note: this creation/publishing process is also being drafted/worked out.</p>

    <p>Help by:
			<ul class="govuk-list govuk-list--bullet">
    		<li>suggesting the collective name we should use for software created for staff - staff systems? internal systems? casework systems? (casework would limit it to caseworkers)</li>
    		<li><a href="https://docs.google.com/document/d/1Ejr7Et8-ZfIyC9XPkM0evbTbljOTcGlyM9YOd9liZb8/edit">adding more examples of existing footers: how they work, evidence about their effectiveness, things you'd like to test.</a></li>
    	</ul>
    </p>

    <h2 class="govuk-heading-l">Links</h2>
    <p>Drafting advice for using links.  A general document about the different types of links.  This came about because the question about opening footer links in a new window or not came up on slack again, and it wasn't documented last time.</p>
    <p>It made sense to combine this with the footer advice as thats where the links live.</p>

    <p><b>Current status:</b> Andy and Laura are creating the <a href="https://docs.google.com/document/d/1nesrVtqDQxwFfcKrbq7M6pc6w9_-uYoEPZogoc3N-k8/edit#heading=h.9lxujhkrsvbx">first draft</a> that works with the footer advice. Once we're happy, both will be sent to the practice for review.</p>

    <p>Help by:
			<ul class="govuk-list govuk-list--bullet">
				<li>we don't have a collective document on links but we do have an <a href="https://docs.google.com/document/d/14AffGn-vkDjBfPByUPn8XBNSoxVyP1goj5lOe2BNwz0/edit#">action links document - add and update: how they work, evidence about their effectiveness, things you'd like to test.</a></li>
    		<li>start documenting anything different (to GOV advice) about links in your system or service (message Andy P to ask where to store this, or for a template)</li>
    	</ul>
    </p>


    <h2 class="govuk-heading-l">Process for creating and publishing advice</h2>
    <p>How do we (the practice) agree the design advice that should be followed?</p>
    <p>As we started drafting the footer we discussed how do we get practice agreement?  But we dont want deciding this process to hold back publishing advice (as everything can be iterated, and you best learn by doing).  The process will be public (on this site) and commentable, like every document (Work in the open).</p>

    <p><b>Current status:</b> Andy and Laura are documenting the <a href="https://docs.google.com/document/d/1GOjI_48GP2c0qjuDtZI9kOj-2dbGEL7Fae-DytrfUSI/edit#">first version of this process</a>. We're following it, and once we're happy, will be shared with the practice for review/feedback.</p>

    <p>Help by:
			<ul class="govuk-list govuk-list--bullet">
				<li>considering how you would like to be involved in determining advice that gets created and published.  What do you need to know? what capacity do you have for drafting, reviewing, testing, etc. What can you contribute?</li>
    		<li><a href="https://docs.google.com/document/d/1GOjI_48GP2c0qjuDtZI9kOj-2dbGEL7Fae-DytrfUSI/edit#">commenting on version 1 of the process</a></li>
    	</ul>
    </p>


  </div>
</div>

{% endblock %}


{% block footer %}
<footer class="govuk-footer app-footer app-footer--full" role="contentinfo">
  <div class="govuk-width-container app-width-container">
       
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <h2 class="govuk-footer__heading govuk-heading-m govuk-visually-hidden">Whats happening with the system</h2>
        
          <ul class="govuk-footer__inline-list">
        		<li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/">
                Home
              </a>
            </li>             
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="history">
                Content updates
              </a>
            </li>
          
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="weeknotes">
                Project updates
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="accessibility-statement">
                Accessibility statement
              </a>
            </li>             
          </ul>
           
<!--             <div class="govuk-footer__meta-custom">
              Built by the <a href="/design-system-team" class="govuk-footer__link">GOV.UK Design System team</a>
            </div> -->
      </div>

    </div>
  </div>
</footer>
{% endblock %}
