{% extends "./layout_homepage_beta.html" %}

{% block pageTitle %}
  Design system - beta
{% endblock %}

{% block appnav %}
	<!-- {% include "./includes/_appnav.njk" %} -->
{% endblock %}

{% block content %}
<div style="background-color: #426114; padding-top:30px; padding-bottom:30px;">
	<div class="app-width-container">
		<div class="govuk-grid-row">
		  <div class="govuk-grid-column-full" >
		    <h1 class="govuk-heading-xl" style="color: white;">
		      Design and build digital services
<!-- 		      <span class="govuk-caption-m" style="color: white;"><strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong> ideas for an HMLR design system</span> -->
		    </h1>
		    <p class="govuk-body-l" style="color: white;">Use the design system to create land registration services - for the public, professionals, and staff that assure and maintain the land and property register.</p>

		    <h2 class="govuk-heading-l"><a style="color: white;" href="advice">Advice to follow for all new work</a></h2>
		  </div>
		</div>
	</div>
</div>

<div class="app-width-container">
	<div class="govuk-grid-row">
	  <div class="govuk-grid-column-full">
	  	<div class="govuk-grid-row" style="padding-top:30px;">
			 	<div class="govuk-grid-column-one-third">
			 		<a href="whats-new" class="promo-wrapper">
			 			<div class="promo-content">
							<h2 class="govuk-heading-m promo-heading">What's new</h2>
			    		<p class="promo-lead">New and updated advice, and insights:</p>
			    		<!-- <p>what you need from a design system - survey results</p>  -->
			    		<ul class="govuk-list design-system-list--dash">
			    			<li>introducing the design system</li>
			    			<li>hierarchy of advice</li>
			    			<li>survey results (designers)</li>
			    		</ul>
			 			</div>
			 		</a>
			 	</div>
			 	<div class="govuk-grid-column-one-third">
			 		<a href="in-progress" class="promo-wrapper">
			 			<div class="promo-content">
							<h2 class="govuk-heading-m promo-heading">In progress</h2>
			    		<p class="promo-lead">Advice being drafted, review and comment on:</p>
			    		<!-- <p>Review and comment on: footer for staff systems; links -  when to open in a new tab</p> -->
			    		<p>
				    		<ul class="govuk-list design-system-list--dash">
				    			<li>footer for staff systems</li>
				    			<li>links - open in new tab?</li>
				    			<li>advice agreement process</li>
				    		</ul>
				    	</p>
			 			</div>
			 		</a>
			 	</div>
			 	<div class="govuk-grid-column-one-third">
			 		<a href="help-out" class="promo-wrapper">
			 			<div class="promo-content">
							<h2 class="govuk-heading-m promo-heading">Your help is needed</h2>
			    		<p class="promo-lead">Improvements we need help with:</p>
			    		<!-- <p>documenting new designs, and evidence from usabilty research</p> -->
			    		<ul class="govuk-list design-system-list--dash">
			    			<li>new survey (for anyone)</li>
			    			<li>documenting new designs</li>
			    			<li>evidence about designs</li>
			    		</ul>
			 			</div>
			 		</a>
			 	</div>
			</div>

	  </div>
	</div>
</div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer app-footer app-footer--full" role="contentinfo">
  <div class="govuk-width-container app-width-container">
       
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <h2 class="govuk-footer__heading govuk-heading-m govuk-visually-hidden">Whats happening with the system</h2>
        
          <ul class="govuk-footer__inline-list">
        		<li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/">
                Home
              </a>
            </li>             
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="history">
                Content updates
              </a>
            </li>
          
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="weeknotes">
                Project updates
              </a>
            </li>
            
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="accessibility-statement">
                Accessibility statement
              </a>
            </li>            
          </ul>
           
<!--             <div class="govuk-footer__meta-custom">
              Built by the <a href="/design-system-team" class="govuk-footer__link">GOV.UK Design System team</a>
            </div> -->
      </div>

    </div>
  </div>
</footer>
{% endblock %}
