
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  What's new in the design system
{% endblock %}

{% block content %}

<style>
.govuk-footer {
	background: none;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">What's new here?</h1>    

		<h2 class="govuk-heading-l">Introducing the Design system</h2>
    <p class="govuk-body-l">We've started a Design System for HM Land Registry digital teams.  To help teams better meet the needs of the users of services and systems, at a reduced cost. Higher quality, more quickly attained.</p>

    <p>This is the start of: publishing a body of reviewed, agreed and evidenced advice and patterns, primarily for designers.  The <a href="previous-introduction">previous introduction (not widely shared) outlines where we were at in August</a>.</p>

    <h3 class="govuk-heading-m">Knowing what's what</h3>
    <p>The site will be the only link you need to find out: the <a href="advice">latest advice to follow</a>, how to contribute, whats going on with the design system and whats already been done.  <b>Work in the open.</b></p>

    <h3 class="govuk-heading-m">Helping out</h3>
    <p>The system will be most successful if it's a whole (and cross) practice thing.  There is no master blueprint of what that this all looks like which we are implementing piecemeal.  This is an agile, iterative, approach toward some desired outcomes and goals, using principles like 'seek continuous feedback' and 'work in the open'.</p>
    <p>Get involved or give feedback at any time, on anything (email Andy Porter and Laura Clifford).  In these design system pages and documents we'll highlight where specific help is needed.</p>

    <h2 class="govuk-heading-l">Hierarchy of advice</h2>
    <p>We've created a <a href="advice">hierarchy of advice to follow when creating new services, products or systems</a>, for GOV.UK services, professional users and staff.</p>

    <p>All new work should follow this approach, not just greenfield services and systems.</p>


    <h2 class="govuk-heading-l">Survey results</h2>
    <p>Survey, before we'd published anything, to try to find out what designers need from a design system.  Designers are the primary users, and ones we want to start with.</p>
    <p>Design system - What do you need:
    <ul class="govuk-list govuk-list--bullet">
    	<li>anonymous survey, got ten responses</li>
    	<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc_8SfRY5NJF5DK7HVYU96Dfc565avCsuj35JLP8gMKZEgbHg/viewanalytics">results</a></li>
    	<li>no analysis of results performed yet</li>
    </ul>
    <p>A second version of the survey has been created - for the next most likely groups of users of a design system - front end developers, user researchers, product people, testers.  It's not yet been shared, but if you are a designer that missed the first survey, you can <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJ6bBLsyve2vuzQOV68adG3YaqtSf5pI2wTuPX66NxCI_knw/viewform?usp=sf_link">take this new survey</a> - help test it - message Andy Porter.</p>


  </div>
</div>

{% endblock %}


{% block footer %}
<footer class="govuk-footer app-footer app-footer--full" role="contentinfo">
  <div class="govuk-width-container app-width-container">
       
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
        <h2 class="govuk-footer__heading govuk-heading-m govuk-visually-hidden">Whats happening with the system</h2>
        
          <ul class="govuk-footer__inline-list">
        		<li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/">
                Home
              </a>
            </li>             
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="history">
                Content updates
              </a>
            </li>
          
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="weeknotes">
                Project updates
              </a>
            </li>
            
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="accessibility-statement">
                Accessibility statement
              </a>
            </li>             
          </ul>
           
<!--             <div class="govuk-footer__meta-custom">
              Built by the <a href="/design-system-team" class="govuk-footer__link">GOV.UK Design System team</a>
            </div> -->
      </div>

    </div>
  </div>
</footer>
{% endblock %}
