<div class="app-pane__subnav">
  <nav class="app-subnav">
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/data/registers/">Registers</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/data/digital-applications/">Digital applications</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/data/application-forms/">Application forms</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/data/apis/">APIs</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/data/analytics/">Analytics</a>
      </li>
       <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/data/machine-learning/">Machine learning</a>
      </li>
    </ul>
  </nav>
</div>