.hmlr-header .hmlr-header__title{
    color:#0b0c0c;
    font-family:"HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    /*font-weight:700;*/
    font-size:24px;
    font-size:1.5rem;
    line-height:1.04167;
    display:block;
    margin-top:0;
    margin-bottom:20px
}
@media print{
    .hmlr-header .hmlr-header__title{
        color:#000;
        font-family:sans-serif
    }
}
@media (min-width:40.0625em){
    .hmlr-header .hmlr-header__title{
        font-size:36px;
        font-size:2.25rem;
        line-height:1.11111
    }
}
@media print{
    .hmlr-header .hmlr-header__title{
        font-size:24pt;
        line-height:1.05
    }
}
@media (min-width:40.0625em){
    .hmlr-header .hmlr-header__title{
        margin-bottom:30px
    }
}

.hmlr-header .hmlr-header__inner{
    max-width:1100px;
    margin:0 15px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:25px 0;
    line-height:32px
}
@supports (margin:max(calc(0px))){
    .hmlr-header .hmlr-header__inner{
        margin-right:max(15px,calc(15px + env(safe-area-inset-right)));
        margin-left:max(15px,calc(15px + env(safe-area-inset-left)))
    }
}
@media (min-width:40.0625em){
    .hmlr-header .hmlr-header__inner{
        margin:0 30px
    }
    @supports (margin:max(calc(0px))){
        .hmlr-header .hmlr-header__inner{
            margin-right:max(30px,calc(15px + env(safe-area-inset-right)));
            margin-left:max(30px,calc(15px + env(safe-area-inset-left)))
        }
    }
}
@media (min-width:1020px){
    .hmlr-header .hmlr-header__inner{
        margin:0 auto
    }
    @supports (margin:max(calc(0px))){
        .hmlr-header .hmlr-header__inner{
            margin:0 auto
        }
    }
}
.hmlr-header .hmlr-header__inner:after{
    content:"";
    display:block;
    clear:both
}
.hmlr-header .hmlr-header__link{
    display:inline-block;
    text-decoration:none;
    vertical-align:middle
}
.hmlr-header .hmlr-header__link:focus{
    outline:3px solid #fd0;
    outline-offset:12px
}
.hmlr-header .hmlr-header__link:hover .hmlr-header__title{
    border-bottom:2px solid;
    margin-bottom:-2px
}
.hmlr-header .hmlr-header__logo{
    max-width:100%;
    display:inline-block;
    border:0;
    margin-right:30px;
    vertical-align:middle
}
.hmlr-header .hmlr-header__title{
    font-size:20px;
    color:#0b0c0c;
    margin-bottom:0;
    display:inline-block;
    vertical-align:middle
}
.hmlr-header--dark{
    background-color:#0b0c0c;
    color:#fff;
    border-bottom:10px solid #87c426
}
.hmlr-header--dark .hmlr-header__inner{
    padding:10px 0
}
.hmlr-header--dark .hmlr-header__link,.hmlr-header--dark .hmlr-header__title{
    color:#fff
}
.hmlr-header--dark .hmlr-header__link:focus{
    outline-offset:7px
}
.hmlr-header--align-grid .hmlr-header__inner{
    max-width:none
}
@media (min-width:62.4375em){
    .hmlr-header--align-grid .hmlr-header__inner{
        margin:0;
        padding-left:340px
    }
}
.hmlr-header--full-width .hmlr-header__inner{
    max-width:none;
    margin-left:20px;
    margin-right:20px
}
@media (min-width:62.4375em){
    .hmlr-header--full-width .hmlr-header__inner{
        margin-left:40px;
        margin-right:40px
    }
}
