
{% extends "layout_app_page.html" %}

{% block pageTitle %}
  Design system - colour
{% endblock %}


{% block appnav %}
	{% include ".././_partials/_appnav.njk" %}
{% endblock %}

{% block appsidebar %}
	{% include ".././_partials/_appsidebar.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Colour
      <span class="govuk-caption-xl">testing ideas for an HMLR design system</span>
    </h1>
    <p>proven, reusable assets, for protoyping and building exemplary land registration services - used by the public and professionals, and the staff that assure and maintain the land and property register</p>

    <h2 class="govuk-heading-m">Introduction</h2>
    <p class="govuk-body-l"></p>
    <p>Inspired by the best bits of other design systems, manuals and guides such as:</p>
    <ul class="govuk-list govuk-list--bullet">
    	<li><a href="https://design-system.service.gov.uk">GOVUK design system</a></li>
    	<li><a href="https://service-manual.nhs.uk">NHS Digital Service Manual</a></li>
    </ul>
    <p>this is prototype code - knocked up to illusrate ideas, not how you'd really build this app</p>
    <p><a href="">take me to the thing</a></p>

  </div>
</div>

{% endblock %}
