
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  History - changes to the design system
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">History of changes to the system
    </h1>   

    <p class="govuk-lead">Brief details of changes published here.  For example, when <a href="advice">advice to follow for all new work</a> has been changed, new sections published, or a change to the direction of the design system project work</p> 

    <h2 class="govuk-heading-l">Advice to follow - publication history</h2>

    <h3 class="govuk-heading-m" id="advice-09-sep-2020">09 September 2020</h3>
    <p>More detail of whats in our production systems is available, as the Google docs have been updated, links added to more documentation for components.</p>

    <h3 class="govuk-heading-m" id="advice-12-aug-2020">12 August 2020</h3>
    <p>Initial publication of advice to follow for all new work.</p>

  </div>
</div>

{% endblock %}
