
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Casework - a coded prototype - a concept/test
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Design system: thinking + information collection for a
    </h1>

    <h2 class="govuk-heading-m">a heading</h2>
    <p class="govuk-body-l">lede</p>


    <h2 class="govuk-heading-m">version 1 - whats the least...</h2>
    <p class="govuk-body-l">Copy of html and css (and screenshots) from preview environment.</p>
    <p>Requires minimal tweaks - change the path to to the css file and the logo file</p>

    <p>list
    	<ul class="govuk-list govuk-list--bullet">
    		<li><a href="">link</a></li>
    		<li>listitem</li>
    	</ul>
    </p>

  </div>
</div>

{% endblock %}
