
{% extends "layout_full_page.html" %}

{% block pageTitle %}
  Design system - alpha
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Design system - alpha
      <span class="govuk-caption-m"><strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong> ideas for an HMLR design system</span>
    </h1>
    <p class="govuk-body-l">this will be the homepage of the manual</p>
    <h2 class="govuk-heading-m">Show me the manual</h2>
    <p><a href="/components/index">take me to the manual so i can start having an opinion</a></p>


    <h2 class="govuk-heading-m">Introduction</h2>
    <p class="govuk-body-l">proven, reusable assets, for protoyping and building exemplary land registration services - used by the public and professionals, and the staff that assure and maintain the land and property register</p>

    <p>Inspired by the best bits of other design systems, manuals and guides such as:</p>
    <ul class="govuk-list govuk-list--bullet">
    	<li><a href="https://design-system.service.gov.uk">GOVUK design system</a></li>
    	<li><a href="https://service-manual.nhs.uk">NHS Digital Service Manual</a></li>
    </ul>
    



  </div>
</div>

{% endblock %}
