{% extends "layout_generic.html" %}


{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
  	<div class="govuk-grid-row">
  		<div class="govuk-grid-column-full">
  			{% block appnav %}{% endblock %}
  		</div>
  	</div>

  	<div class="govuk-grid-row">
  		<div class="govuk-grid-column-one-quarter">
  			{% block appsidebar %}{% endblock %}
  		</div>

  		<div class="govuk-grid-column-three-quarters">
		    {% block beforeContent %}{% endblock %}
		    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
		      {% block content %}{% endblock %}
	    	</main>
	    </div>
    </div>
  </div>
{% endblock %}