
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Road to a Design System
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      The path to a Design System
    </h1>    


    <h2 class="govuk-heading-l">Phase 2 - information collection - what designs have we got out there?
	    <span class="govuk-caption-l">end July 2020</span>
	  </h2>
    <p class="govuk-body-l">Collecting what designs exist so we can use for the next phase - to determine advice to follow for all new work</p>
    <p>This is a broad body of information, across Staff and Extenal services and systems.  It is what we know, and have done so far - what has arisen, not what was pre-determined or led by a published system.</p>
    <p>This is of a similar level to a lot of what existed in hackpad (for those that remember GOV.UK back in those days), pre the GOV Design System (and other depts) as people now see.  Its notes what is being done, while people have been thinking about their individual project, and why they've chosen to do it</p>

		<h2 class="govuk-heading-m">Phase next: create the first (minimal) version of a Design System
			<span class="govuk-caption-m">starts ???</span>
		</h2>
    <p class="govuk-body-l">What should we do next - </p>
    <p>By its very nature a design system is opinionated.  There is more than one way to solve a problem, even if there are best practices.  Even following well proven patterns, the implementation of form and function can be tailored.  To bring consistency there needs to be a set of 'best practice' and an opinionated set of advice, look and feel - what makes one organisations design system different from or consistent/symapthetic to anothers</p>

    <h2 class="govuk-heading-m">Phase 1 - what might a useful design system be for us
	    <span class="govuk-caption-m">end Jan 2020</span>
	  </h2>
    <p class="govuk-body-l"><a href="alpha-ds">Exploring ideas of what could it contain, and how could it be structured</a>, what would it take to make one, what is important first</p>
    <p>Taking all the best ideas from exsiting GOV Design systems and some well known non-Gov organisations, and thinking about - if a design system helps you build things quickly with proven solutions, what could it contain?</p>
    <p>This gave us knowledge of how we could more effectively collect and collate information - it needs to be structured and templatised - for both the reader and author understanding, and to efficiently build and maintain a system</p>
    <p>We learnt about what designers think it could/should contain, and how we might organise and show patterns and advice meant for more than one channel (e.g. portal, gov.uk, and staff)</p>




<!--     <p>list
    	<ul class="govuk-list govuk-list--bullet">
    		<li><a href="">link</a></li>
    		<li>listitem</li>
    	</ul>
    </p> -->

  </div>
</div>

{% endblock %}
