
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Project history - weekly notes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Project history
    </h1>   

    <p class="govuk-lead">This is about what I/we've been up to with the design system this week. This is a lightweight form of communication about the project - what's been done, been thought about, learnt.  What's new and what changed, for people wanting to design services, is in the <a href="advice">advice</a> and <a href="history">history</a> pages.</p> 

    <h2 class="govuk-heading-l">Weeknotes</h2>

    <h3 class="govuk-heading-m" id="weeknotes-11-sep-2020">11 September 2020</h3>
    <p>
    	I would like the way we work to be an exemplar of working in an agile way - be open, clear, communicate reguarly, not be too stiff, just enough, etc, so have:
 			<ul class="govuk-list govuk-list--bullet">
	  		<li>started a <a href="https://trello.com/b/8oDGtPah/design-system">kanban board</a> for the next phase - a backlog of big things, that will feed the 'to-do now' list. Just me, Joe, Laura and Erin to start</li>
	  		<li>added a <a href="history">history page</a>.  Good to show people that content is being added/improved (governance / demonstrate value), But more so to help design system users to find out 'whats new since i last came here?'  The GOV design system - i find i don't know when advice gets updated, or new advice is added. I think that's a useful thing to provded a user. As this feels like it would be useful functionality -  its something to test (note to self - add to trello cards for user need and + assumption/to test &#128512;)</li>
	  		<li>started these 'project weeknotes' - good to a) reflect on what done/learnt and b) communicate progress in a simple, lightweight way</li>
	  		<li>orgainsed a meet for next week to decide shape of next phase of work, and make a backlog</li>
	  	</ul>
	  </p>
	  <p>The advice published - the 'what do we currently have' - is being updated daily as I've been improving the collated documents, to ensure they are a single way to see what we have documented about each thing.</p>
	  <p>This housekeeping also includes the google sheet, so everything is tidy enough to be useful and less a source of confusion.  This led me to think more about the purpose of the different things we have, and tweak things:
	  	<ul class="govuk-list govuk-list--bullet">
			  <li>website - the front door - the place to go to for design advice and everything about the design system (and the project work - hence this page)</li>
			  <li>collated documents - where what we know about each component/pattern is collated.  These are essentialy the 'pages' of what we currently do, that are published here.  So needed to make each one 'the thing', by ensuring no orphan documents exist and that its all joined up.  These documents are the public advice, and can have comments, dicscussion, opinion - they are what we know and think.  Google docs are great to comment, track changes, collaborate etc - everyone can use with no technical training needed (unlike github).  So an important principle/need (note to self - add to my list &#128512;&#128512;) - minimimise the barrier to entry/collaboration</li>
			  <li>google sheet - use to track progress and see status - a view across the documentation - for example: whos working on documents, has it been reviewed.  The sheet contains more than this, like proposed patterns / ideas for patterns - they would be better surfaced on the site, with a mechanism for feedback and new patterns spotted (&#128513; another note to self)
		  	</li>
	  	</ul>
    </p>
    <p>wow, writing this weeknote is useful - made me think, and i added 4 useful items to the backlog/what we know - user needs, principles, something to test/learn more about, how we orgainse the work so its easier to do &#128541;</p>

  </div>
</div>

{% endblock %}
