
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Design advice for all new work
{% endblock %}



{% block content %}

<style>
.govuk-list--spaced>li {
	margin-bottom: 10px;
}
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Design advice for all new work
    	<span class="govuk-caption-m">
       <a href="/history#advice-23-sep-2020">updated:</a> 23 Sept 2020</span>
    </h1> 

    <p>This is a hierarchy of advice to follow when creating new services, products or systems, for GOV.UK services, professional users and staff</p>

    <ol class="govuk-list govuk-list--number">
  		<li>start with <a href="#gov">GOV.UK design advice</a> (this is well proven)</li>
  		<li>use agreed <a href="#hmlr">HMLR Design advice</a> (this is good enough to reuse, but needs more evidence)</li>
  		<li>be influenced by <a href="#prod">current 'designs in production'</a> (we've yet to establish how reusable this is)</li>
  	</ol> 

    <p>Start at the top, and work down only if you can demonstrate that the advice above does not work.</p>

    <p>
    	<a class="designsystem-action-link--inline" style="position:relative; padding-left:32px;" href="#contributing">
				<svg style="position:absolute; top:-2px; left:0px;" height="28px" viewBox="0 0 26 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
				    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g id="Group-Copy" transform="translate(1.000000, 0.000000)">
				            <circle id="Oval" fill="#003EC8" cx="12.25" cy="12" r="12"></circle>
				            <path id="Line" d="M7.38531877,4.32711337 L7.49026124,4.37842446 L19.4902612,11.1284245 L21.0397289,12 L19.4902612,12.8715755 L7.49026124,19.6215755 C7.00890336,19.8923393 6.39918827,19.7216191 6.12842446,19.2402612 C5.87700093,18.7932861 6.00624475,18.2356355 6.41139299,17.941463 L6.50973876,17.8784245 L15.182,13 L0.25,13 C-0.30228475,13 -0.75,12.5522847 -0.75,12 C-0.75,11.4871642 -0.36395981,11.0644928 0.133378875,11.0067277 L0.25,11 L15.182,11 L6.50973876,6.12157554 C6.06276359,5.870152 5.88363415,5.32646945 6.07711337,4.86468123 L6.12842446,4.75973876 C6.379848,4.31276359 6.92353055,4.13363415 7.38531877,4.32711337 Z" fill="#FFFFFF" fill-rule="nonzero"></path>
				        </g>
				    </g>
				</svg>Document designs</a> when diverging from GOV.UK advice.
    </p>


  

    <h2 class="govuk-heading-l" id="gov">1. Start with GOV.UK advice</h2>
    <p>You should always start with GOV.UK patterns, components and advice if you’re looking at solving problems for users. Your user research will tell you if you need to think about adapting something. This is for all of the work we do - not just for GOV.UK hosted services.</p>

    <p>This advice can be found in the:
    	<ul class="govuk-list govuk-list--bullet">
	  		<li><a href="https://design-system.service.gov.uk/">GOV.UK Design system</a></li>
	  		<li><a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">GOV.UK Content design guide</a></li>
	  		<li><a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK A to Z style guide</a></li>
	  		<li><a href="https://www.gov.uk/service-manual/design">GOV.UK Service Manual</a></li>
	  	</ul>
    </p>

    <h2 class="govuk-heading-l" id="hmlr">2. HMLR advice you can follow now</h2>
    <p>When we feel like there is advice and solutions that are good enough to follow, they will live here.</p>

    <p>We’ve stored solutions in Google docs up until now. We’d like feedback (email to Andy and Laura) on how you’d like to consume this type of information so you can reuse it in the future.</p>

    <h3 class="govuk-heading-m">Current followable advice:</h3>
    <ul class="govuk-list govuk-list--bullet">
  		<li><a href="https://docs.google.com/document/d/19j11nyTG7lU3biwvCGH3fYYT9AVXQ6DiBT3zAynpNoU/edit#">Welsh language translations for common service elements and HMLR terminology</a></li>
  		<li><a href="https://docs.google.com/document/d/14JQeFkBQ64lfpfhbVaKJrKlHtnUFER-jJ67oeC2E5Rs/edit#">approved definitions for tenure and register information</a></li>
  		<li><a href="https://docs.google.com/document/d/1QVy3MX5rLO3Qd-mDbmH51aCaZSez9GRX1jrHqbYAzq0/edit#">using acronyms and domain terminology</a></li>
  	</ul>


		<h2 class="govuk-heading-l" id="prod">3. What’s in our production systems</h2>

    <p>The following designs are what we currently have in production. They can be helpful for new work when your circumstances differ from GOV patterns and advice.</p> 

		<p>You may find this collection useful to:
			<ul class="govuk-list govuk-list--bullet">
				<li>view how other services have tackled problems</li> 
				<li>generate ideas of how you could approach something in your service</li>
				<li>find out the reasons why something has been developed the way it has</li>
			</ul>
		</p> 

		<!-- <p>But, we need to keep documenting what is in use, why, and what evidence we have for its effectiveness.  Everyone can update these documents, if you are unsure, you can ask Andy and Laura.</p> -->

    <p>
    	<a class="designsystem-action-link--inline" style="position:relative; padding-left:32px;" href="#contributing">
				<svg style="position:absolute; top:-2px; left:0px;" height="28px" viewBox="0 0 26 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
				    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g id="Group-Copy" transform="translate(1.000000, 0.000000)">
				            <circle id="Oval" fill="#003EC8" cx="12.25" cy="12" r="12"></circle>
				            <path id="Line" d="M7.38531877,4.32711337 L7.49026124,4.37842446 L19.4902612,11.1284245 L21.0397289,12 L19.4902612,12.8715755 L7.49026124,19.6215755 C7.00890336,19.8923393 6.39918827,19.7216191 6.12842446,19.2402612 C5.87700093,18.7932861 6.00624475,18.2356355 6.41139299,17.941463 L6.50973876,17.8784245 L15.182,13 L0.25,13 C-0.30228475,13 -0.75,12.5522847 -0.75,12 C-0.75,11.4871642 -0.36395981,11.0644928 0.133378875,11.0067277 L0.25,11 L15.182,11 L6.50973876,6.12157554 C6.06276359,5.870152 5.88363415,5.32646945 6.07711337,4.86468123 L6.12842446,4.75973876 C6.379848,4.31276359 6.92353055,4.13363415 7.38531877,4.32711337 Z" fill="#FFFFFF" fill-rule="nonzero"></path>
				        </g>
				    </g>
				</svg>We need to keep documenting what is in use, why, and what evidence we have for its effectiveness.</a>
		</p>
				  
		<p>Everyone can update these documents, if you are unsure, you can ask Andy and Laura.
    </p>

		
		<!-- You can also comment on the work already there - these feel like these docs will be the core set of documentation and dicsussion that enables us to determine reusable advice from.   -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
  	<h3 class="govuk-heading-m">Components</h3>
    <ul class="govuk-list govuk-list--spaced">
			<li><a href="https://docs.google.com/document/d/1n2GHFIA-YV4fGq8lpQt2TUnVjdwqP_pvO27gCsk9c1M/edit#">accordion</a></li>
<li><a href="https://docs.google.com/document/d/1Q5Y5pmCJDiYLjj5Wk065tYV7gStVo7_md2pzSj36_48/edit#">autocomplete</a></li>
<li><a href="https://docs.google.com/document/d/1ux_9hgLStGPn5NWqEHJ4RX5A4EL78MF6DVpiDrYtyMU/edit#">back link</a></li>
<li><a href="https://docs.google.com/document/d/1RL7WjGTf0ztleTbcXsCaiL8BbW1t4mklibNhJlG6JY8/edit#">breadcrumbs</a></li>
<li><a href="https://docs.google.com/document/d/1jtPHXcHEnkZFytot5NBpxqguYVo0oVL8-Rblgh_Pbh4/edit">buttons</a></li>
<li><a href="https://docs.google.com/document/d/1bnzZm5pZkbQqtsi8qnk1D20KAea3OdL1zBoiF6kzrlY/edit#">checkbox</a></li>
<li><a href="https://docs.google.com/document/d/1q97iw_4W3i7lhLTQmmp-JeDqRftIsSsn_FfBsxGJOyU/edit#">date input</a></li>
<li><a href="https://docs.google.com/document/d/15Rk1cSkvtRzmIvu1noJidEsqpV_dRC6_QLaAhxzyyXk/edit#">document viewer controls</a></li>
<li>character count</li>
<li>details</li>
<li>download link</li>
<li><a href="https://docs.google.com/document/d/1qbHeyHhxqxNMomFKt4Z6xsTQykj61ssxcmyJrEnowPc/edit#">error messages and summary</a></li>
<li><a href="https://docs.google.com/document/d/1Hobv6JedaWT1QPX-OTwvEQJNI1LfAO79lKmcbAPeUoQ/edit#">fieldset</a></li>
<li><a href="https://docs.google.com/document/d/1w8wB5KuhX0_gcUF-7ODRqeKhmM-R0nFgEFdA-hTRRzc/edit#">file upload</a></li>
<li><a href="https://docs.google.com/document/d/1Ejr7Et8-ZfIyC9XPkM0evbTbljOTcGlyM9YOd9liZb8/edit">footer</a></li>
<li><a href="https://docs.google.com/document/d/1hAqtLMkBE5MaK8p3_FB5AZsC471CFMP5A7_Hg6DGNK0/edit#heading=h.n44599v396">header</a></li>
<li><a href="https://docs.google.com/document/d/1_T98aTgbmQwNdkgBb91QetZx5NGJ5j50Ly6FbWHNbmM/edit#">inset text</a></li>
<li><a href="https://docs.google.com/document/d/14AffGn-vkDjBfPByUPn8XBNSoxVyP1goj5lOe2BNwz0/edit#">links (action)</a></li>
<li><a href="https://docs.google.com/document/d/1JYjp9h0sweSdYy5jM_kjKPgBU_41chFvBRQOGpu70Ew/edit#">navigation</a></li>
<li><a href="https://docs.google.com/document/d/1857LKa_YH9JXZZYTSFBNMllQb9P7FS1IUZuqv3_oljY/edit#">panel</a></li>
<li><a href="https://docs.google.com/document/d/1HkebdtLnMrv99QoUDg1qhy_JAHCJ63IXNfpHnz_nn4g/edit#">phase banner</a></li>
<li><a href="https://docs.google.com/document/d/1DaJ2BhJp7WXAnPMl2k-bejWpNGngr-VsPWbLbMbpKfg/edit#">radios</a></li>
<li><a href="https://docs.google.com/document/d/1WVgJdVFgnUdhdUAVdjDpjPuAYHW7qaD_MJu8mmyeSIM/edit#">select</a></li>
<li><a href="https://docs.google.com/document/d/1gfF3vB4uw2rwZY3K7P8pHQ2ijBrhhYOI92wme9dr57A/edit#">skip link</a></li>
<li>success messages</li>
<li><a href="https://docs.google.com/document/d/1lmdyNEXTlMEEW5wdXQcBWFlHTSQ67qViBBn4TpAJhbM/edit#">summary list</a></li>
<li><a href="https://docs.google.com/document/d/1oJrBcNa9ugVBAZlnPhpN2VtyPilapEUWXgQhCG4OHyk/edit#">table</a></li>
<li><a href="https://docs.google.com/document/d/11GYR83RZejiNGiYz4w8vOn58gnVoTeZcN-ViiOcF80k/edit#">tabs</a></li>
<li><a href="https://docs.google.com/document/d/1xgUHLO9FjZBFLzmkYCUhTn39opEeLT_n6HhEwu21WIE/edit#">tag</a></li>
<li><a href="https://docs.google.com/document/d/1WwQAbjfkkXvJkiO2g827n_0qCIhf0jy5PNwXl83Xouo/edit">text input</a></li>
<li><a href="https://docs.google.com/document/d/1FJj2aLwTKOyMtI3JD3zpmfyyf1EICUZ4tZ1Ed3KR1F4/edit#">text area</a></li>
<li>warning message</li>
<li><a href="https://docs.google.com/document/d/11zdVlbpSrW8oPGdI3Unikgk8aB8FsFXhf9sWJ7n1SvM/edit#">warning text</a></li>
<li><a href="https://docs.google.com/document/d/1uPYyx9hyGD05k8wO6ixNKmpEAbT20y79bOpqwJa-BgI/edit#">Title number</a></li>
<li><a href="https://docs.google.com/document/d/1U0gJLxeiLaXcj5Dvgb5NMrwVRoAsTrDxpz1xEsugq6o/edit#">ABR (application barcode reference)</a></li>
<li><a href="https://docs.google.com/document/d/1MX6C9DiOm5Jnwez0P1wNEylsWiu_hYhr_KRcjFAKwqg/edit#">application type</a></li>
<li>filter register view</li>
<li><a href="https://docs.google.com/document/d/16WUY6bAzk9CNNP3VVSQB1aGT5kGnk99Wof2tXh1cjac/edit#">maps</a></li>
		</ul>
  </div>
  <div class="govuk-grid-column-one-quarter">
  	<h3 class="govuk-heading-m">Patterns</h3>
    <ul class="govuk-list govuk-list--spaced">
<li>the <a href="https://docs.google.com/document/d/1xLppBOjgXSn95mEFSX3s36cSQRhEgIL_HDTEgjN4FRc/edit#">pages in each of our services and systems</a></li>
<li><a href="https://docs.google.com/document/d/1YxLdO0Z4pUA-CzY5Bn7Szm1TaLD1fGmmesCVQ1scn6M/edit#">page not found (404)</a></li>
<li><a href="https://docs.google.com/document/d/14t9SmWiko4zTdRfv06KBEYh_nL7kXfkL5cEociwpfRk/edit#">service unavailable (503)</a></li>
<li><a href="https://docs.google.com/document/d/1Xbb3NQMvdfkTmejJtWMVNREb6hCXgZrUbsrlfm_-Tjc/edit#">problem with this service (500)</a></li>
<li><a href="https://docs.google.com/document/d/1LdkL3gwWa0jKqk1BGS-um1kGtu7JhWLhXvrxrocVIEk/edit#">accessibility statement</a></li>
<li>document viewer</li>
<li>session timeout</li>
<li>confirmation page</li>
<li>dashboards (like management information)</li>
<li>unauthorised (to view)</li>
<li>Interstitial page (no user input required)</li>
<li>add applicants (with party types)</li>
<li>recover from validation errors</li>
<li>contact a department or team </li>
<li>create an account</li>
<li>log-in</li>
<li>reset password (regain access)</li>
<li>help users <a href="https://docs.google.com/document/d/1hkUI3t5_qGJYvsZ9qjzxNCcyXzuFE3hJt85KjGEK96Q/edit#">to give feedback</a></li>



    </ul>
  </div>
  <div class="govuk-grid-column-one-quarter">
  	<h3 class="govuk-heading-m">Style</h3>
    <ul class="govuk-list govuk-list--spaced">
<li><a href="https://docs.google.com/document/d/1Tp2JqY-srUqAmHm3U1bSi-KuriGIjfpF4LmuD6zbOZI/edit#">colour</a></li>
<li><a href="https://docs.google.com/document/d/1pMw-z-g_-bAWRNhSk0BXs7sPBaRHbsCDlxgaevyPkvk/edit#">images (not icons)</a></li>
<li>layout</li>
<li>page template</li>
<li><a href="https://docs.google.com/document/d/1FVxe9l9BlFNOokSjFasR08jUTAuTE3V7ST8TLy-9JhM/edit#">spacing</a></li>
<li>typography</li>
<li><a href="https://docs.google.com/document/d/1mTkI7nZZsvFcgc10qW73Wvhb-IV4vFCyFdf68riIXd8/edit#">icons</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-quarter">
  	<h3 class="govuk-heading-m">Content</h3>
    <ul class="govuk-list govuk-list--spaced">
    	<li><a href="https://docs.google.com/document/d/1QVy3MX5rLO3Qd-mDbmH51aCaZSez9GRX1jrHqbYAzq0/edit#">using acronyms and domain terminology</a></li>
<!--   		<li><a href="https://docs.google.com/document/d/19j11nyTG7lU3biwvCGH3fYYT9AVXQ6DiBT3zAynpNoU/edit#">Welsh language translations for common service elements and HMLR terminology</a></li>
  		<li><a href="https://docs.google.com/document/d/14JQeFkBQ64lfpfhbVaKJrKlHtnUFER-jJ67oeC2E5Rs/edit#">approved definitions for tenure and register information</a></li>
  		 -->
  	</ul>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  	<hr>
  	<h2 id="contributing" class="govuk-heading-l">How can I contribute?</h2>

		<p>Our next step for the design system is to publish more agreed (proven) advice - from the information collected in the Google docs.</p>  

		<p>The Google docs where the practice collaborates, records what we've done and learnt, and are the necessary body of work used to distill from the agreed, proven, reusable, advice.</p>

		<p>They are open to all, jump in, and use the Google docs for what they are best at - collaborative documents - add what you know, comments, ask questions, make suggestions.</p> 

		<p><b>We’d really like you to:</b>
			<ul class="govuk-list govuk-list--bullet">
				<li>add designs to the docs - what we have, what works and what doesn't, why; who for and context; evidence (saying I don't know is OK).</li>
				<li>add comments to the docs.  Did you try something and find out it didn’t work for your users? Do you have any more research or reasons why you did something?</li>
				<li>let us know if there’s anything specific you’d like us to focus on next or prioritise</li>
			</ul>
		</p>


		<h4 class="govuk-heading-s">Document a pattern or component that’s not listed, has no link, or not sure how to contribute</h4>
		<p>email Andy or Laura, and we'll start a document for you.</p>



	</div>
</div>


{% endblock %}
